<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Animation/ArcherDeath1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1849, 1447}, {140, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 160}}</string>
			<key>sourceSize</key>
			<string>{140, 160}</string>
		</dict>
		<key>Animation/ArcherDeath10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1991, 1285}, {140, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 160}}</string>
			<key>sourceSize</key>
			<string>{140, 160}</string>
		</dict>
		<key>Animation/ArcherDeath2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1799, 1861}, {140, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 160}}</string>
			<key>sourceSize</key>
			<string>{140, 160}</string>
		</dict>
		<key>Animation/ArcherDeath3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2083, 1771}, {140, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 160}}</string>
			<key>sourceSize</key>
			<string>{140, 160}</string>
		</dict>
		<key>Animation/ArcherDeath4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1991, 1447}, {140, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 160}}</string>
			<key>sourceSize</key>
			<string>{140, 160}</string>
		</dict>
		<key>Animation/ArcherDeath5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1941, 1771}, {140, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 160}}</string>
			<key>sourceSize</key>
			<string>{140, 160}</string>
		</dict>
		<key>Animation/ArcherDeath6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1849, 1609}, {140, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 160}}</string>
			<key>sourceSize</key>
			<string>{140, 160}</string>
		</dict>
		<key>Animation/ArcherDeath7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1849, 1285}, {140, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 160}}</string>
			<key>sourceSize</key>
			<string>{140, 160}</string>
		</dict>
		<key>Animation/ArcherDeath8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657, 1861}, {140, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 160}}</string>
			<key>sourceSize</key>
			<string>{140, 160}</string>
		</dict>
		<key>Animation/ArcherDeath9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1991, 1609}, {140, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 160}}</string>
			<key>sourceSize</key>
			<string>{140, 160}</string>
		</dict>
		<key>Animation/ArcherOnSmoke1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1927}, {120, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>sourceSize</key>
			<string>{120, 120}</string>
		</dict>
		<key>Animation/BlackDragon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657, 1477}, {190, 190}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {190, 190}}</string>
			<key>sourceSize</key>
			<string>{190, 190}</string>
		</dict>
		<key>Animation/BlackDragon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657, 1285}, {190, 190}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {190, 190}}</string>
			<key>sourceSize</key>
			<string>{190, 190}</string>
		</dict>
		<key>Animation/BlackDragon3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657, 1669}, {190, 190}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {190, 190}}</string>
			<key>sourceSize</key>
			<string>{190, 190}</string>
		</dict>
		<key>Animation/DamagedArcher.png</key>
		<dict>
			<key>frame</key>
			<string>{{199, 1927}, {74, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 74}}</string>
			<key>sourceSize</key>
			<string>{74, 74}</string>
		</dict>
		<key>Animation/HeroRunning1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2209, 1}, {130, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 130}}</string>
			<key>sourceSize</key>
			<string>{130, 130}</string>
		</dict>
		<key>Animation/HeroRunning2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2225, 1813}, {130, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 130}}</string>
			<key>sourceSize</key>
			<string>{130, 130}</string>
		</dict>
		<key>Animation/HeroRunning3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2225, 1681}, {130, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 130}}</string>
			<key>sourceSize</key>
			<string>{130, 130}</string>
		</dict>
		<key>Animation/HeroRunning4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2133, 1549}, {130, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 130}}</string>
			<key>sourceSize</key>
			<string>{130, 130}</string>
		</dict>
		<key>Animation/HeroRunning5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2133, 1417}, {130, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 130}}</string>
			<key>sourceSize</key>
			<string>{130, 130}</string>
		</dict>
		<key>Animation/HeroRunning6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2133, 1285}, {130, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 130}}</string>
			<key>sourceSize</key>
			<string>{130, 130}</string>
		</dict>
		<key>Animation/RunningArcher1.png</key>
		<dict>
			<key>frame</key>
			<string>{{351, 1927}, {74, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 74}}</string>
			<key>sourceSize</key>
			<string>{74, 74}</string>
		</dict>
		<key>Animation/RunningArcher2.png</key>
		<dict>
			<key>frame</key>
			<string>{{427, 1927}, {74, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 74}}</string>
			<key>sourceSize</key>
			<string>{74, 74}</string>
		</dict>
		<key>Animation/RunningArcher3.png</key>
		<dict>
			<key>frame</key>
			<string>{{579, 1927}, {74, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 74}}</string>
			<key>sourceSize</key>
			<string>{74, 74}</string>
		</dict>
		<key>Animation/RunningArcher4.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 1927}, {74, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 74}}</string>
			<key>sourceSize</key>
			<string>{74, 74}</string>
		</dict>
		<key>Animation/StandingArcher.png</key>
		<dict>
			<key>frame</key>
			<string>{{503, 1927}, {74, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 74}}</string>
			<key>sourceSize</key>
			<string>{74, 74}</string>
		</dict>
		<key>Animation/reddragon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1285}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/reddragon10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1105, 1}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/reddragon11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1105, 1285}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/reddragon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657, 643}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/reddragon3.png</key>
		<dict>
			<key>frame</key>
			<string>{{553, 1285}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/reddragon4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 643}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/reddragon5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657, 1}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/reddragon6.png</key>
		<dict>
			<key>frame</key>
			<string>{{553, 643}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/reddragon7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/reddragon8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1105, 643}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/reddragon9.png</key>
		<dict>
			<key>frame</key>
			<string>{{553, 1}, {550, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {550, 640}}</string>
			<key>sourceSize</key>
			<string>{550, 640}</string>
		</dict>
		<key>Animation/snakehead.png</key>
		<dict>
			<key>frame</key>
			<string>{{275, 1927}, {74, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {74, 74}}</string>
			<key>sourceSize</key>
			<string>{74, 74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 2048}</string>
		<key>textureFileName</key>
		<string>Animation.png</string>
	</dict>
</dict>
</plist>
