<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Environment/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1923, 1}, {1280, 1920}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 1920}}</string>
			<key>sourceSize</key>
			<string>{1280, 1920}</string>
		</dict>
		<key>Environment/clouds.png</key>
		<dict>
			<key>frame</key>
			<string>{{1695, 2977}, {1502, 436}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1502, 436}}</string>
			<key>sourceSize</key>
			<string>{1502, 436}</string>
		</dict>
		<key>Environment/grassHalf_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{259, 3825}, {256, 256}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>Environment/grassHalf_mid.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3825}, {256, 256}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>Environment/grassHalf_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{517, 3825}, {256, 256}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>Environment/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3085}, {1692, 738}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1692, 738}}</string>
			<key>sourceSize</key>
			<string>{1692, 738}</string>
		</dict>
		<key>Environment/landscape_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1920, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1920, 1280}}</string>
			<key>sourceSize</key>
			<string>{1920, 1280}</string>
		</dict>
		<key>Environment/lava background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1283}, {1800, 1000}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1800, 1000}}</string>
			<key>sourceSize</key>
			<string>{1800, 1000}</string>
		</dict>
		<key>Environment/lava ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003, 1283}, {1692, 738}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1692, 738}}</string>
			<key>sourceSize</key>
			<string>{1692, 738}</string>
		</dict>
		<key>Environment/yellowcrystal.png</key>
		<dict>
			<key>frame</key>
			<string>{{3845, 1}, {60, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {60, 100}}</string>
			<key>sourceSize</key>
			<string>{60, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>Environment.png</string>
	</dict>
</dict>
</plist>
