<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Environment/Background/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{963, 1}, {640, 960}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>sourceSize</key>
			<string>{640, 960}</string>
		</dict>
		<key>Environment/Background/forest_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 643}, {900, 675}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {900, 675}}</string>
			<key>sourceSize</key>
			<string>{900, 675}</string>
		</dict>
		<key>Environment/Background/landscape_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {960, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>sourceSize</key>
			<string>{960, 640}</string>
		</dict>
		<key>Environment/Background/lava_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1545}, {900, 500}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {900, 500}}</string>
			<key>sourceSize</key>
			<string>{900, 500}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Background.png</string>
	</dict>
</dict>
</plist>
