<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Animation/ArcherDeath1.png</key>
		<dict>
			<key>frame</key>
			<string>{{929, 727}, {70, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 80}}</string>
			<key>sourceSize</key>
			<string>{70, 80}</string>
		</dict>
		<key>Animation/ArcherDeath10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001, 645}, {70, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 80}}</string>
			<key>sourceSize</key>
			<string>{70, 80}</string>
		</dict>
		<key>Animation/ArcherDeath2.png</key>
		<dict>
			<key>frame</key>
			<string>{{904, 936}, {70, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 80}}</string>
			<key>sourceSize</key>
			<string>{70, 80}</string>
		</dict>
		<key>Animation/ArcherDeath3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1048, 891}, {70, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 80}}</string>
			<key>sourceSize</key>
			<string>{70, 80}</string>
		</dict>
		<key>Animation/ArcherDeath4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001, 727}, {70, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 80}}</string>
			<key>sourceSize</key>
			<string>{70, 80}</string>
		</dict>
		<key>Animation/ArcherDeath5.png</key>
		<dict>
			<key>frame</key>
			<string>{{976, 891}, {70, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 80}}</string>
			<key>sourceSize</key>
			<string>{70, 80}</string>
		</dict>
		<key>Animation/ArcherDeath6.png</key>
		<dict>
			<key>frame</key>
			<string>{{929, 809}, {70, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 80}}</string>
			<key>sourceSize</key>
			<string>{70, 80}</string>
		</dict>
		<key>Animation/ArcherDeath7.png</key>
		<dict>
			<key>frame</key>
			<string>{{929, 645}, {70, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 80}}</string>
			<key>sourceSize</key>
			<string>{70, 80}</string>
		</dict>
		<key>Animation/ArcherDeath8.png</key>
		<dict>
			<key>frame</key>
			<string>{{832, 936}, {70, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 80}}</string>
			<key>sourceSize</key>
			<string>{70, 80}</string>
		</dict>
		<key>Animation/ArcherDeath9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001, 809}, {70, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 80}}</string>
			<key>sourceSize</key>
			<string>{70, 80}</string>
		</dict>
		<key>Animation/ArcherOnSmoke1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1109, 68}, {60, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>sourceSize</key>
			<string>{60, 60}</string>
		</dict>
		<key>Animation/BlackDragon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{832, 742}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{95, 95}</string>
		</dict>
		<key>Animation/BlackDragon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{832, 645}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{95, 95}</string>
		</dict>
		<key>Animation/BlackDragon3.png</key>
		<dict>
			<key>frame</key>
			<string>{{832, 839}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{95, 95}</string>
		</dict>
		<key>Animation/DamagedArcher.png</key>
		<dict>
			<key>frame</key>
			<string>{{40, 967}, {37, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 37}}</string>
			<key>sourceSize</key>
			<string>{37, 37}</string>
		</dict>
		<key>Animation/HeroRunning1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1109, 1}, {65, 65}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {65, 65}}</string>
			<key>sourceSize</key>
			<string>{65, 65}</string>
		</dict>
		<key>Animation/HeroRunning2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1120, 913}, {65, 65}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {65, 65}}</string>
			<key>sourceSize</key>
			<string>{65, 65}</string>
		</dict>
		<key>Animation/HeroRunning3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1120, 846}, {65, 65}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {65, 65}}</string>
			<key>sourceSize</key>
			<string>{65, 65}</string>
		</dict>
		<key>Animation/HeroRunning4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1073, 779}, {65, 65}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {65, 65}}</string>
			<key>sourceSize</key>
			<string>{65, 65}</string>
		</dict>
		<key>Animation/HeroRunning5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1073, 712}, {65, 65}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {65, 65}}</string>
			<key>sourceSize</key>
			<string>{65, 65}</string>
		</dict>
		<key>Animation/HeroRunning6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1073, 645}, {65, 65}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {65, 65}}</string>
			<key>sourceSize</key>
			<string>{65, 65}</string>
		</dict>
		<key>Animation/RunningArcher1.png</key>
		<dict>
			<key>frame</key>
			<string>{{118, 967}, {37, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 37}}</string>
			<key>sourceSize</key>
			<string>{37, 37}</string>
		</dict>
		<key>Animation/RunningArcher2.png</key>
		<dict>
			<key>frame</key>
			<string>{{157, 967}, {37, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 37}}</string>
			<key>sourceSize</key>
			<string>{37, 37}</string>
		</dict>
		<key>Animation/RunningArcher3.png</key>
		<dict>
			<key>frame</key>
			<string>{{235, 967}, {37, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 37}}</string>
			<key>sourceSize</key>
			<string>{37, 37}</string>
		</dict>
		<key>Animation/RunningArcher4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 967}, {37, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 37}}</string>
			<key>sourceSize</key>
			<string>{37, 37}</string>
		</dict>
		<key>Animation/StandingArcher.png</key>
		<dict>
			<key>frame</key>
			<string>{{196, 967}, {37, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 37}}</string>
			<key>sourceSize</key>
			<string>{37, 37}</string>
		</dict>
		<key>Animation/reddragon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 645}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/reddragon10.png</key>
		<dict>
			<key>frame</key>
			<string>{{555, 1}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/reddragon11.png</key>
		<dict>
			<key>frame</key>
			<string>{{555, 645}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/reddragon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{832, 323}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/reddragon3.png</key>
		<dict>
			<key>frame</key>
			<string>{{278, 645}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/reddragon4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 323}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/reddragon5.png</key>
		<dict>
			<key>frame</key>
			<string>{{832, 1}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/reddragon6.png</key>
		<dict>
			<key>frame</key>
			<string>{{278, 323}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/reddragon7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/reddragon8.png</key>
		<dict>
			<key>frame</key>
			<string>{{555, 323}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/reddragon9.png</key>
		<dict>
			<key>frame</key>
			<string>{{278, 1}, {275, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 320}}</string>
			<key>sourceSize</key>
			<string>{275, 320}</string>
		</dict>
		<key>Animation/snakehead.png</key>
		<dict>
			<key>frame</key>
			<string>{{79, 967}, {37, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 37}}</string>
			<key>sourceSize</key>
			<string>{37, 37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>textureFileName</key>
		<string>Animation.png</string>
	</dict>
</dict>
</plist>
