<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Animation/ArcherOnSmoke1.png</key>
		<dict>
			<key>frame</key>
			<string>{{501, 325}, {30, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>sourceSize</key>
			<string>{30, 30}</string>
		</dict>
		<key>Animation/BlackDragon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{418, 374}, {47, 47}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 47}}</string>
			<key>sourceSize</key>
			<string>{47, 47}</string>
		</dict>
		<key>Animation/BlackDragon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{418, 325}, {47, 47}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 47}}</string>
			<key>sourceSize</key>
			<string>{47, 47}</string>
		</dict>
		<key>Animation/BlackDragon3.png</key>
		<dict>
			<key>frame</key>
			<string>{{418, 423}, {47, 47}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 47}}</string>
			<key>sourceSize</key>
			<string>{47, 47}</string>
		</dict>
		<key>Animation/DamagedArcher.png</key>
		<dict>
			<key>frame</key>
			<string>{{81, 487}, {18, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>sourceSize</key>
			<string>{18, 18}</string>
		</dict>
		<key>Animation/HeroRunning1.png</key>
		<dict>
			<key>frame</key>
			<string>{{467, 325}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>Animation/HeroRunning2.png</key>
		<dict>
			<key>frame</key>
			<string>{{418, 472}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>Animation/HeroRunning3.png</key>
		<dict>
			<key>frame</key>
			<string>{{467, 393}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>Animation/HeroRunning4.png</key>
		<dict>
			<key>frame</key>
			<string>{{467, 359}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>Animation/HeroRunning5.png</key>
		<dict>
			<key>frame</key>
			<string>{{452, 472}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>Animation/HeroRunning6.png</key>
		<dict>
			<key>frame</key>
			<string>{{467, 427}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>Animation/RunningArcher1.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 487}, {18, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>sourceSize</key>
			<string>{18, 18}</string>
		</dict>
		<key>Animation/RunningArcher2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 487}, {18, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>sourceSize</key>
			<string>{18, 18}</string>
		</dict>
		<key>Animation/RunningArcher3.png</key>
		<dict>
			<key>frame</key>
			<string>{{21, 487}, {18, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>sourceSize</key>
			<string>{18, 18}</string>
		</dict>
		<key>Animation/RunningArcher4.png</key>
		<dict>
			<key>frame</key>
			<string>{{41, 487}, {18, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>sourceSize</key>
			<string>{18, 18}</string>
		</dict>
		<key>Animation/SmokeOnArcher1.png</key>
		<dict>
			<key>frame</key>
			<string>{{486, 461}, {30, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>sourceSize</key>
			<string>{30, 30}</string>
		</dict>
		<key>Animation/StandingArcher.png</key>
		<dict>
			<key>frame</key>
			<string>{{61, 487}, {18, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>sourceSize</key>
			<string>{18, 18}</string>
		</dict>
		<key>Animation/reddragon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{279, 163}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
		<key>Animation/reddragon10.png</key>
		<dict>
			<key>frame</key>
			<string>{{418, 163}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
		<key>Animation/reddragon11.png</key>
		<dict>
			<key>frame</key>
			<string>{{418, 1}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
		<key>Animation/reddragon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{140, 1}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
		<key>Animation/reddragon3.png</key>
		<dict>
			<key>frame</key>
			<string>{{279, 325}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
		<key>Animation/reddragon4.png</key>
		<dict>
			<key>frame</key>
			<string>{{140, 163}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
		<key>Animation/reddragon5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
		<key>Animation/reddragon6.png</key>
		<dict>
			<key>frame</key>
			<string>{{140, 325}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
		<key>Animation/reddragon7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 163}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
		<key>Animation/reddragon8.png</key>
		<dict>
			<key>frame</key>
			<string>{{279, 1}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
		<key>Animation/reddragon9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 325}, {137, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 160}}</string>
			<key>sourceSize</key>
			<string>{137, 160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>textureFileName</key>
		<string>Animation.png</string>
	</dict>
</dict>
</plist>
